body{
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

h1{
    color: #1a237e;
}

.box{
    background: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
}

input{
    width: 90%;
    padding: 8px;
    margin: 8px;
}

button{
    padding: 10px 20px;
    background: #1a237e;
    color: white;
    border: none;
    cursor: pointer;
}

.job{
    background: white;
    margin: 15px auto;
    width: 80%;
    padding: 15px;
    box-shadow: 0 0 8px #ccc;
}
